@media only screen and (min-width: 280px){
.videoTextLeft
{
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 15px 0px;
}
.videoTextLeft .video
{
  width:90%;
  aspect-ratio: 16/9;
}

.videoTextRight
{
  min-width:200px;
  padding: 0px;
}

.videoText h2
{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.videoText p
{
  text-align:justify;
  padding: 0px;
  margin: 0px;
}

}
