@media only screen and (min-width:280px)
{
.bannerContainer
{
  position: relative;
  height:auto;
}

.bannerContainer .bannerImage
{
  width: 100%;
}

.bannerContainer .bannerImage img
{
  width:100%;
  height: 300px;
  object-fit:none;
  object-position:center;
  aspect-ratio: 16/9;
}

.bannerContainer .buttonContainer
{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

button
{
  padding: 15px;
  margin: 5px;
  border-style: none;
  background-color: lightgray;
  color: black;
  border-radius: 10px 0px;
  text-transform:uppercase;
}

.imgTextLeft .image
{
  width:100%;
}


}

@media only screen and (min-width:720px)
{
}
