@media only screen and (min-width: 280px){
.preNavbar{
  display: block;
  font-size: 8px;
}
.preNavbar ul{
  display: flex;
  float: right;

}
.preNavbar ul li{
  display: inline-block;
  padding: 5px;
}
.preNavbar ul li a{
  text-decoration: none;
  color: black;
}
}
