@media only screen and ( min-width: 280px ){
.App
{
  padding:5px;
}

.row
{
  clear:both;
  display:flex;
}

.col-s-3
{
  width: 25%;
}

.col-s-4
{
  width: 33.3%;
}

}

@media only screen and ( min-width: 360px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}

@media only screen and ( min-width: 480px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}

@media only screen and ( min-width: 720px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
@media only screen and ( min-width: 1080px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
@media only screen and ( min-width: 1280px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
@media only screen and ( min-width: 1920px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
