@media only screen and ( min-width: 280px ){
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face{
  font-family: "UVN Ben Xuan";
  src: url('./fonts/UVN Ben Xuan.ttf') format('truetype');
  font-weight:normal;
}

@font-face{
  font-family: "UVN Ben Xuan";
  src: url('./fonts/UVNBenXuan_B.TTF') format('truetype');
  font-weight:bold;
}

.App
{
padding:10px;
}

.break
{
  height:20px;
}

h1
{
  font-family: 'UVN Ben Xuan';
  font-weight:bold;
  font-size: 26px;
}
h2
{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight:bold;
}
p
{
  font-size:12px;
}

.row-s
{
  clear:both;
  display:flex;
}

.col-s-3
{
  width: 25%;
}

.col-s-4
{
  width: 33.33%;
}

.col-l-2
{
  width: 100%;
}

}

@media only screen and ( min-width: 360px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}

@media only screen and ( min-width: 480px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}

@media only screen and ( min-width: 720px ){
.row-m
{
  display: flex;
}
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}
.col-l-2
{
  width: 50%;
}


}
@media only screen and ( min-width: 1080px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
@media only screen and ( min-width: 1280px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
@media only screen and ( min-width: 1920px ){
.App
{
  padding:5px;
}

.col-3
{
  width: 100%;
}

.col-s-4
{
  width: 100%;
}


}
