@import url('https://fonts.googleapis.com/css?family=Faustina&display=swap');
@font-face{
  font-family: "UVN Ben Xuan";
  src: url('./fonts/UVN Ben Xuan.ttf') format('truetype');
  font-weight:normal;
}

@font-face{
  font-family: "UVN Ben Xuan";
  src: url('./fonts/UVNBenXuan_B.TTF') format('truetype');
  font-weight:bold;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base{
html{
  font-family:'Faustina', serif;
  padding: 0.2rem;
  @apply text-[0.5rem] stablet:text-base text-justify;
}
footer{
  @apply py-2;
}
h1, h2, h3, h4{
  @apply py-2 font-bold;
  font-family: 'UVN Ben Xuan';
}
h1{
  @apply text-[2.4rem] stablet:text-[2.5rem];
}
h2{
  @apply text-[1.9rem] stablet:text-[2rem];
}
h3{
  @apply text-[1.4rem] stablet:text-[1.5rem];
}

}

@layer components{
.btn{
  @apply normal-case;
}
.btn--primary{
  @apply text-base text-white uppercase border border-black border-solid rounded-lg bg-slate-800/75 transition-all ease-in-out duration-700;
  @apply hover:text-yellow-200 hover:border-gray-200 hover:bg-red-800/75;
}
.btn--secondary{
  @apply text-base text-black border border-black rounded-sm bg-white/75 transition-all ease-in-out duration-300;
  @apply hover:bg-blue-100;
}
.btn--large{
  @apply p-6 m-4;
}
.btn--medium{
  @apply p-5 m-3;
}
.btn--large{
  @apply p-4 m-2;
}
.btn--nav{
  @apply flex items-center justify-center w-8 h-8 m-0;
}
.btn--hovernav{
  @apply hover:border-red-900 hover:underline hover:underline-offset-8 hover:transition-all ease-in-out duration-500;
}
hr{
  @apply w-11/12 h-[1px] my-2 mx-auto bg-white/25 border-none;
}

}
@layer utilities{
  .col-s-3{
    @apply w-3/12;
  }
  .col-s-4{
    @apply w-4/12;
  }
  .col-m-2{
    @apply w-full stablet:w-6/12;
  }
  .break{
    @apply h-4;
  }
}
